.section {

    &--header {
        height: 130vh;
        background: url(../img/home-mainsection2.png);
        background-size: cover;
        background-position: center;
        z-index: 1;

        .header__objects {

            &--beef {
                width: 19%;
                position: absolute;
                top: 24rem;
                left: -2rem;
                filter: drop-shadow(1.8rem .9rem 0.6rem black);
            }

            &--board {
                width: 84%;
                position: absolute;
                top: 30rem;
                left: 31rem;
                filter: drop-shadow(1rem 1rem 0.6rem black);
            }

            &--cloth {
                width: 45%;
                position: absolute;
                left: -2rem;
                top: 45rem;
                filter: drop-shadow(2rem .9rem 0.6rem black);
            }

            &--cig {
                width: 22%;
                position: absolute;
                left: 18rem;
                top: 30rem;
                filter: drop-shadow(2rem .9rem 0.6rem black);
            }

            &--leaves {
                width: 19%;
                position: absolute;
                left: 18rem;
                top: 30rem;
                filter: drop-shadow(2rem .9rem 0.6rem black);
            }

            &--logo {
                margin-top: 15rem;
                width: 22.1%;
                filter: drop-shadow(1.8rem 1rem 0.6rem black);
            }
        }

        .header__textbox {
            position: relative;
            z-index: 3;
            margin-right: 15rem;
            left: 0;

            .heading--primary {
                color: #dc1934;
                font-size: 6rem;
                font-family: 'Great Vibes', cursive;
                filter: drop-shadow(0.3rem 1.4rem 0.6rem black);

                .contrast {
                    color: #eae5d6;
                }
            }

            .heading--secondary {
                color: #eae5d6;
                font-size: 10rem;
                margin-top: -5rem;
                filter: drop-shadow(0.3rem 1.4rem 0.6rem black);
            }

            .heading--divider {
                width: 40rem;
                margin-top: -4rem;
            }

            .btn--reserve {
                color: #eae5d6;
                border-color: #eae5d6;
                z-index: 306;
                display: block;
                margin-right: auto;
                margin-left: auto;
                margin-top: 5rem;
                font-size: 2rem;
                font-weight: 300;
                width: 20rem;
                height: 5rem;
            }
        }
    }

    &--story {
        background:  url(../img/menu3.png) fixed;
        margin-top: -13rem;
        position: relative;
        height: 115vh;
        background-size: cover;
        background-position: center;
        z-index: -20;

        .story {

            &__place {
                width: 89%;
                z-index: 1;
                margin-top: 45rem;
                margin-left: 30rem;
                filter: drop-shadow(-1.2rem 1.2rem 0.6rem rgba(0,0,0,0.5));
            }

            &__box {
                height: 60rem;
                width: 90%;
                border: 5px solid white;
                position: absolute;
                z-index: -1;
                margin-top: 25rem;
                margin-right: 28rem;
                right: 5rem;
                opacity: 0.9;
                text-align: end;
                justify-content: center;
                align-content: center;
            }

            &__proper {
                width: 40%;
                text-align: right;
                float: right;
                margin-right: 5rem;

                &--heading {
                    font-size: 7rem;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Julius Sans One', sans-serif;
                }

                &--divider {
                    width: 12rem;
                    height: 4px;
                    background-color: gold;
                    float: right;
                }

                &--description {
                    font-size: 2.3rem;
                    color: white;
                    font-weight: 300;
                    margin-top: 3rem;
                }
            }
        }
    }
}


.tomato {
    width: 1900%;
    z-index: 1000;
    position: absolute;
    margin-right: 0;            
    right: 0;
    top: -5rem;
    filter: drop-shadow(1rem 1rem 0.6rem black);
}

.menu-img {
    background: url(../img/menu2.png);
    margin-top: -30rem;
    height: 270vh;
    background-size: cover;
    position: relative;
    z-index: 1;
    
}

.peas {
    width: 7%;
    position: absolute;
    top: 40rem;
    z-index: -2;
    right: 20rem;
    filter: drop-shadow(.3rem .3rem .3rem black);
}

.blackbox {
    height: 60rem;
    width: 100%;
    background: rgba(40,40,40, .7);
    position: absolute;
    top: 45rem;
    z-index: -10;
    opacity: 0.9;
}

.menu {

    position: relative;
    z-index: 3000;

    &__proper {
        width: 40%;
        position: absolute;
        margin-top: 42rem;
        text-align: left;
        left: 44rem;
    }

    &__header {
        font-size: 7rem;
        color: #eae5d6;
        line-height: 7.5rem;
        font-family: 'Great Vibes', cursive;
        font-weight: 800;
    }

    &__divider {
        width: 12rem;
        height: 4px;
        background-color: #dc1934;
        margin-top: 3rem;
        position: absolute;
        left: 0;
    }
    
    &__text {
        font-size: 2.3rem;
        color: #eae5d6;
        font-weight: 300;
        margin-top: 7rem;
    }

    &__button {
        color: #eae5d6;
        border-color: #eae5d6;
        z-index: 10000;
        display: block;
        margin-top: 3rem;
        font-size: 2rem;
        font-weight: 300;
    }
}

.beef2 {
    width: 65%;
    position: absolute;
    top: 57rem;
    right: -15rem;
    z-index: -3;
    filter: drop-shadow(-1rem -1rem 0.6rem black);
}

.squid {
    width: 60%;
    position: absolute;
    top: 69rem;
    right: -30rem;
    z-index: -2;
    filter: drop-shadow(-1.5rem -1.5rem 0.6rem rgba(0,0,0, .7));
}


.blackbox2 {
    height: 60rem;
    width: 100%;
    background: rgba(0,0,0, .4);
    position: absolute;
    right: 1rem;
    top: 140rem;
    z-index: -1;
    opacity: 0.9;
    
}

.reserve {

    &__proper {
        width: 45%;
        position: absolute;
        margin-top: 122rem;
        text-align: right;
        right: 44rem;
    }

    &__header {
        font-size: 4.6rem;
        color: white;
        line-height: 6rem;
        font-family: 'Great Vibes', cursive;
        font-weight: 800;
    }

    &__divider {
        width: 12rem;
        height: 4px;
        background-color: #dc1934;
        margin-top: 3rem;
        position: absolute;
        right: 0;
    }
    
    &__text {
        font-size: 2rem;
        color: white;
        font-weight: 300;
        margin-top: 7rem;
    }

    &__button {
        color: #ece9e9;
        border-color: #ece9e9;
        z-index: 306;
        display: block;
        margin-top: 3rem;
        font-size: 2rem;
        font-weight: 300;
        margin-left: 42.5rem;
        margin-right: auto;
    }
}



.chili {
    width: 330%;
    z-index: 1000;
    position: absolute;
    margin-left: 8rem;
    left: 4rem;
    top: 215rem;
    filter: drop-shadow(1rem 1rem 0.6rem black);
}

.testi-img {
    background:  url(../img/testi2.png) fixed;
    height: 210vh;
    margin-top: -30rem;
    position: relative;
    background-size: cover;
    z-index: -5;
}

.contact-img {
    background: url(../img/contact2.png);
    margin-top: -20rem;
    height: 38vh;
    width: 100%;
    background-size: cover;
    z-index: -1;
    // filter: drop-shadow(0rem -2rem 0.6rem rgba(0,0,0,0.5));
    
}

.contact {

    &__box {
        left: 15rem;
    }

    &__heading {
        font-size: 2.5rem;
        color: white;
        margin-top: 3rem;
        text-align: left;
    }

    &__text {
        font-size: 1.5rem;
        color: white;
        font-weight: 300;
        margin-top: 1.5rem;
        text-align: left;
    }

    &__designer {
        font-size: 1.2rem;
        color: lightgray;
        font-weight: 300;
        display: flex;
        justify-content: center;
        margin-top: 20rem;
        
       
    }
}

.testimonials {
    z-index: 10000;
    position: absolute;
    top: 50rem;
    width: 100%;
    left: 5rem;

    &__first {
        color: white;
        width: 10rem;
        font-weight: 300;
        font-size: 3.5rem;
        height: 15rem;
        margin-top: 7rem;
    }

    &__reviewer {
        color: lightgray;
        font-size: 2rem;
        font-weight: 300;
    }


    .carousel-control-prev-icon {
        position: absolute;
        left: -9rem;
        top: 8rem;
    }

    .carousel-control-next-icon {
        position: absolute;
        right: -9rem;
        top: 8rem;
    }

    &__heading {
        font-size: 6rem;
        color: white;
        text-transform: uppercase;
        font-family: 'Julius Sans One', sans-serif;
        text-align: left;
        position: absolute;
        left: -5rem;
        top: -20rem;
    }
}

.review {
    &::before {
        content: "\201C";
        position: absolute;
        top: -0.75rem;
        left: -0.8rem;
        line-height: 1;
        font-size: 20rem;
        color: white;
        font-family: sans-serif;
        z-index: 1;
    }
}

.logowhite {
    width: 50%;
    position: absolute;
    top: 4rem;
    left: 15rem;
}