.menu-img2 {
    background: url(../img/menubg.png);
    background-size: cover;
    background-position: center;
    height: 800vh;
    position: absolute;
    width: 80vw;
    top: 0;
}


.beef3 {
    left: 0;
    width: 7.77%;
    position: absolute;
    top: 42rem;
    filter: drop-shadow(1.8rem .9rem 0.6rem black);
}


.cloth2 {
    left: 0;
    top: 62rem;
    width: 14.08%;
    position: absolute;
    filter: drop-shadow(2rem .9rem 0.6rem black);
}

.leaves2 {
    margin-left: auto;
    margin-right: 163rem;
    right: 0;
    top: 55rem;
    width: 7.094%;
    position: absolute;
    filter: drop-shadow(2rem .9rem 0.6rem black);
}

.board3 {
    margin-left: 20rem;
    margin-right: 110rem;
    right: 0;
    position: absolute;
    top: 20rem;
    width: 35%;
    filter: drop-shadow(1rem 1rem 0.6rem black);
}

.logomenu2 {
    margin-left: auto;
    margin-right: auto;
    left: 10rem;
    top: 3rem;
    width: 12%;
    position: absolute;
    filter: drop-shadow(1.8rem 1rem 0.6rem black);
}

.titletext {
    position: relative;
    z-index: 3;
   
}

.menupage {

    &__header {
        margin-top: 40rem;
        color: #ece9e9;
        font-size: 9rem;
        filter: drop-shadow(0.3rem 1.4rem 0.6rem black);
    }

}

.discover {
    color: #ece9e9;
    border-color: #ece9e9;
    z-index: 306;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 300;
    width: 25rem;
    height: 8rem;
}

.picaMenu {
    text-align: justify;
    width: 100%;
    margin-left: 3rem;
    padding-top: 129rem;
    padding-left: 8rem;
}

.meriendaMenu {
    text-align: justify;
    width: 100%;
    margin-left: 3rem;
    padding-left: 8rem;
}

.picapica {
    color: white;
    font-size: 4rem;
    margin-top: 10rem;
}

hr {
    border: 1.5px solid white;
    width: 91%;
    position: relative;
    z-index: 2;
}

.item {

    padding-left: 3rem;
    width: 20%;
    
    &__header {
        font-size: 2.5rem;
        width: 73%;
        color: #dc1934;
        margin-top: 3rem;
        
    }

    &__description {
        font-size: 1.5rem;
        width: 73%;
        color: white;
    }

    &__price {
        float: right;
        color: #dc1934;
    }
}