.nav {
    display: flex;
    align-items: flex-end;
    padding: 5rem 5rem;
    z-index: 300;
    position: sticky;

    a{
        color: white;
        font-weight: 300;
        font-size: 2rem;
        cursor: pointer;
    }
}

