.story-img {
    background: url(../img/story.jpg) fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80rem;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
}