//COLOR
$primary-color: #dc1934;


//FONT VARIABLES
$font-primary: 'Raleway', sans-serif;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}



body {
  font-family: $font-primary;
  line-height: 1.6;
  background: #fafafa;
  overflow-x: hidden;
}

.App {
  position: relative;
  z-index: 1;
}